<mat-card>
  <mat-card-header>
    <mat-card-title>Add your course</mat-card-title>

  </mat-card-header>
  <form [formGroup]="form">

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select formControlName="category">
        <mat-option value="null"></mat-option>
        <mat-option value="front-end">Front-end</mat-option>
        <mat-option value="back-end">Back-end</mat-option>
      </mat-select>
    </mat-form-field>

  </form>


  <mat-card-actions align="end">
    <button (click)="saveCourse()" mat-button color="primary">Save</button>
    <button routerLink="" mat-button color="warn">Cancel</button>
  </mat-card-actions>
</mat-card>
